rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    /* =========================
       CHECK AUTH
    ========================= */
    function signedIn() {
      return request.auth != null;
    }

    /* =========================
       SAFE USER DOC
    ========================= */
    function userDoc() {
      return get(
        /databases/$(database)/documents/users/$(request.auth.uid)
      );
    }

    function role() {
      return signedIn() && userDoc().data.role;
    }

    function isAdmin() {
      return role() == "admin";
    }

    function isTeller() {
      return role() == "teller";
    }

    function isAuditor() {
      return role() == "auditor";
    }

    /* =========================
       USERS COLLECTION
    ========================= */
    match /users/{id} {

      allow read: if signedIn();

      allow write: if signedIn() && request.auth.uid == id;
    }

    /* =========================
       MEMBERS
    ========================= */
    match /members/{id} {

      allow read: if signedIn();

      allow write: if isAdmin() || isTeller();
    }

    /* =========================
       SAVINGS
    ========================= */
    match /savings/{id} {

      allow read: if signedIn();

      allow write: if isAdmin() || isTeller();
    }

    /* =========================
       LOANS
    ========================= */
    match /loans/{id} {

      allow read: if signedIn();

      allow write: if isAdmin();
    }

    /* =========================
       TRANSACTIONS
    ========================= */
    match /transactions/{id} {

      allow read: if signedIn();

      allow write: if isAdmin() || isTeller();
    }

    /* =========================
       REPORTS
    ========================= */
    match /reports/{id} {

      allow read: if signedIn();

      allow write: if isAdmin();
    }

    /* =========================
       STATS
    ========================= */
    match /stats/{id} {

      allow read: if signedIn();

      allow write: if isAdmin();
    }
  }
}
